.home {
    background-color: #000000;
    color: #FFFFFF;
    width: 90%;
}    

.header
{
	padding-top: 25px;
	width: 100%;
	text-align: center;
		vertical-align: top;
}

.header_main
{	
	width: 70%;
	float: left;
	font-size: 4.0em;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-weight: bold;
}

.header_side_left
{
	width: 15%;
	float: left;
}

.header_side_right
{
	width: 15%;
	float: right;
}