.home {
	background-color: #000000;
	color: #FFFFCC;
	width: 80%;
}

.header {
	padding-top: 25px;
	width: 100%;
	text-align: center;
	vertical-align: top;
}

.header_main {
	width: 70%;
	margin: 10px;
	float: left;
}

.header_main h1 {
	font-size: 4.0em;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.header_main h2 {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
	
.header_main h3 {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.header_side_left {
	width: 14%;
	float: left;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	text-align: center;
}

.header_side_right {
	width: 14%;
	float: right;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.tours_main {
	text-align: left;
}


.tours_main_ph1 {
	float: left;
	width: 350px;
	border-style: solid;
	margin: 10px 40px 10px 0px;
}

.tours_main_ph2 {
	float: right;
	width: 400px;
	border-style: solid;
	margin: 10px 40px;
	margin: 10px 0px 10px 40px;
}

.tours_main_ph3 {
	float: left;
	width: 350px;
	border-style: solid;
	margin: 10px 40px 10px 0px;
}

.tours_main h2 {
	text-align: left;
	text-decoration: underline;
}


.tours_main_vernell { }

.tours_main_vernell h2 {
	text-decoration: none;
	text-align: center
}

.trails_main {
	text-align:left;
}

.trails_main_ph1 {
	float: left;
	width: 250px;
	border-style: solid;
	margin: 10px 40px 10px 0px;
}

.trails_main_ph2 {
	float: right;
	height: 300px;
	border-style: solid;
	margin: 10px 0px 10px 40px;
}


.trails_main_list {
	text-decoration: underline;
}

.nav_main {
	clear: both;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #330000;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

nav {
	width: 100%;
}

.nav_main ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #663300;
}

.nav_main ul li {
	float: left;
	width: 16.5%;
}

.nav_main ul li a {
	width: 100%;
	display: inline-block;
	color: #FFFFCC;
	text-align: center;
	padding: 2px 0px;
	font-weight: bold;
	text-decoration: none;
}

.nav_main ul li a:hover {
	background-color: #996633;
	border-color: #452F1E;
}

.nav_selected {
	background-color: #452F1E;
}


.home_div_row1 {
	display: inline-block;
	margin-right: 25px;	
}

.home_div_row1 h2 {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.CLEAR_FLOAT
{
	clear: both;
}

.home_div_row1 img {
	width: 250px;
	height: 250px;	
	border-style: solid;
	background-color: #996633;
}